.arp-maincontents {
  font-family: "Segoe UI", Tahoe, Arial, sans-serif;
  background: linear-gradient(90deg, rgba(80,117,178,1) 0%, rgba(138,181,252,1) 100%);
  border-radius: 6px 6px 0px 0px;
  padding: 0.2em 0.4em;
}

.arp-title {
  font-size: 14px;
  font-weight: bold;
}

.arp-instructions {
  margin-top: 4px;
  margin-bottom: 6px;
}

.item-container {
  background-color: white;
  border: 1px solid #ddd
  border-radius: 6px;
  margin-bottom: 8px;
}

.item-container::after {
  content: "";
  clear: both;
  display: table;
}

.item-prompt {
  float: left;
  margin-left: 4px;
  margin-top: 2px;
}

.item-response {
  clear: left;
  float: right;
}

.record-control {
  font-size: 20px;
  border: 1px solid #6d6e71;
  border-radius: 6px;
  margin-bottom: 2px;
  margin-right: 2px;
  padding: 0px 2px 2px 2px;
}

.record-control:disabled {
  background-color: #414042;
}

.start-recording {
  background-color: yellow;
}
.stop-recording {
    background-color: red;
}
.redo-recording {
}

.audio-control {
  height: 30px;
}

.play-control {
  margin-right: 2px;
  margin-bottom: 2px;
  padding: 0px 1px 2px 2px;
}

.delete-control {
  padding: 0px 1px 1px 1px;
}

.play-control, .playprompt-control, .delete-control {
  font-size: 20px;
  border: 1px solid #6d6e71;
  border-radius: 6px;
  margin-left: 2px;
}

.play-control:disabled, .playprompt-control:disabled {
  background-color: #414042;
}

.playprompt-control {
  margin-left: -2px;
  padding: 0px 2px 2px 2px;
}

.package-control {
  font-size: 20px;
  border: 1px solid #414042;
  border-radius: 6px;
  background-color: lightgreen;
  padding: 0px 2px 2px 2px;
}

.package-control:disabled {
  background-color: #414042;
  border: 1px solid black;
}

/*-- standard error and notice tools --*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice { 
  font-style: italic;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/
