/*-------------------------------------------------------------------*/
 /* styling for AQRP embed maker                                     */
 /*------------------------------------------------------------------*/

/*----------------------------------*/
/* Michigan Virtual brand standards */
/* light teal:  #2f8d98             */
/* dark teal:   #115e6e             */
/* deep teal:   #093c44             */
/* green:       #b5cd34             */
/* orange:      #f7941e             */
/* light gray:  #6d6e71             */
/* dark gray:   #414042             */
/*----------------------------------*/
body {
	color: black;
	background-color: #eee;
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;
}

.standard-title {
	color: white;
	background-color: #426296;
  border: 1px solid white;
  border-radius: 6px 6px 0px 0px;
  font-size: 1.2em;
  padding: 0.4em 0.2em 0.2em 0.4em;
  margin-top: 0em;
}

#iconLink {
  display: none;
  font-size: 0.9em;
  margin-left: 1.5em;
}

#iconEmbedLeft {
  display: none;
  margin-left: 0.8em;
}

#iconEmbedRight {
  display: none;
  margin-left: 0.2em;
}

.standard-section-label {
  color: #093c44;
  background-color: white;
  border: 1px solid #093c44;
  border-radius: 6px;
  font-size: 1em;
  padding-left: 0.4em;
  margin-top: 0.4em;
}

.standard-section-contents {
  margin-top: 0.4em;
}

#mainContainer {
  display: inline-block;
}

#contentsContainer {
  display: inline-block;
  background-color: #eee;
  padding: 0.3em 0.5em;
  border: 1px solid #ccc;
}

.control-container {
  margin-bottom: 0.4em;
}

.control-label {
  display: inline-block;
  min-width: 5em;
}

#inputSlidesLink {
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
}

#appVersion {
  display: inline-block;
  float: right;
  font-size: 0.9em;
}

#previewContainer {
  display: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
  width: 800px; /* mimic Blackboard */
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.2em;
}

#innerPreviewContainer {

}

/*-- standard error and notice tools --*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice {
  display: inline-block;
  font-size: 0.9em;
  font-style: italic;
  margin-left: 1.0em;
  margin-right: 0.2em;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/
