.arp-colorscheme {
  --MV-white: #ffffff;
  --MV-black: #000000;
  --MV-light-teal: #2f8d98;
  --MV-dark-teal: #115e63;
  --MV-deep-teal: #093c44;
  --MV-green: #b5cd34;
  --MV-orange: #f7941e;
  --MV-light-gray: #6d6e71;
  --MV-dark-gray: #414042;
  --MV-blue: blue;
  --light-gray2: #f2f2f2;
  --very-light-gray: #dddddd;
}

body {
	color: var(--MV-black);
	background-color: var(--MV-green);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	margin-left: 12px;
	margin-right: 12px;
}

#contents {}

.arp-title {
  font-size: 14px;
  font-weight: bold;
}

.arp-instructions {
  margin-top: 4px;
  margin-bottom: 6px;
}

.item-container {
  background-color: var(--MV-white);
  border: 1px solid var(--very-light-gray);
  border-radius: 6px;
  margin-bottom: 8px;
}

.item-container::after {
  content: "";
  clear: both;
  display: table;
}

.item-prompt {
  float: left;
  margin-left: 4px;
  margin-top: 2px;
}

.item-response {
  clear: left;
  float: right;
}

.record-control {
  font-size: 20px;
  border: 1px solid var(--MV-light-gray);
  border-radius: 6px;
  margin-bottom: 2px;
  margin-right: 2px;
  padding: 0px 2px 2px 2px;
}

.record-control:disabled {
  background-color: var(--MV-dark-gray);
}

.start-recording {
  background-color: yellow;
}
.stop-recording {
    background-color: red;
}
.redo-recording {
}

.audio-control {
  height: 30px;
}

.play-control {
  margin-right: 2px;
  margin-bottom: 2px;
  padding: 0px 1px 2px 2px;
}

.delete-control {
  padding: 0px 1px 1px 1px;
}

.play-control, .playprompt-control, .delete-control {
  font-size: 20px;
  border: 1px solid var(--MV-light-gray);
  border-radius: 6px;
  margin-left: 2px;
}

.play-control:disabled, .playprompt-control:disabled {
  background-color: var(--MV-dark-gray);
}

.playprompt-control {
  margin-left: -2px;
  padding: 0px 2px 2px 2px;
}

.package-control {
  font-size: 20px;
  border: 1px solid var(--MV-light-gray);
  border-radius: 6px;
  background-color: lightgreen;
  padding: 0px 2px 2px 2px;
}

.package-control:disabled {
  background-color: var(--MV-light-gray);
  border: 1px solid var(--MV-black);
}

/*-- standard error and notice tools --*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice { 
  font-style: italic;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/
