.arp-colorscheme {
  --MV-white: #ffffff;
  --MV-black: #000000;
  --MV-light-teal: #2f8d98;
  --MV-dark-teal: #115e63;
  --MV-deep-teal: #093c44;
  --MV-green: #b5cd34;
  --MV-orange: #f7941e;
  --MV-light-gray: #6d6e71;
  --MV-dark-gray: #414042;
  --MV-blue: blue;
  --light-gray2: #f2f2f2;
  --very-light-gray: #dddddd;
}

body {
	color: var(--MV-black);
	background-color: var(--MV-white);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	margin-left: 12px;
	margin-right: 12px;
}

.arp-notice {
	color: var(--MV-blue);
	font-size: 14px;
	font-style: italic;  
}

#contents {}

.arp-title {
  font-size: 14px;
  font-weight: bold;
}

.item-container {
  border: 1px solid var(--very-light-gray);
  border-radius: 6px;
  margin-bottom: 8px;
}

.item-container::after {
  content: "";
  clear: both;
  display: table;
}

.item-prompt {
  float: left;
  margin-left: 8px;
  margin-top: 2px;
}

.item-response {
  float: right;
}

.record-control {
  font-size: 20px;
  border: 1px solid var(--MV-light-gray);
  border-radius: 6px;
  margin-left: 10px;
}

.record-control:disabled {
  background-color: var(--MV-dark-gray);
}

.start-recording {
  background-color: yellow;
}
.stop-recording {
    background-color: red;
}
.redo-recording {
}

.audio-control {
  height: 30px;
}

.play-control {
  font-size: 20px;
  border: 1px solid var(--MV-light-gray);
  border-radius: 6px;
  margin-left: 2px;
}

.play-control:disabled {
  background-color: var(--MV-dark-gray);
}

.package-control {
  border: 1px solid var(--MV-black);
  border-radius: 6px;
}
